In [193]:
import tweepy
from tweepy import Stream
from tweepy.streaming import StreamListener 
from tweepy import OAuthHandler
import json
from pymongo import MongoClient
import pandas as pd
import sys
import csv

consumer_key = "P1TBNGH1O4ACFRQ7RnNezmwBp"
consumer_secret = "AG1Bt25QV7Qn9jR2G8TjVwVDpe1PsCSaoBgmOh5jC8vrV5fzKT"
access_key = "1249305586660823040-raZFJ8crtmKLDf4hjvexm0hDCIZ5Xo"
access_secret = "TtTENLjKZjGEcn2ZETgNk6H2zW953Fmk6HQwqN8e4Qbfe"

def user_defined_location(screen_name):
        #authorize twitter, initialize tweepy
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_key, access_secret)
    api = tweepy.API(auth)
    user = api.get_user(screen_name) 
    location = user.location
    if location == "": 
        print("Not Defined") 
    else: 
        print(location)

In [262]:
x = df.iloc[461:470]
x

        screen_name  count Classification
461      amehta0530      2       Resident
462    ItszHimanshu      2       Resident
463     vips_clicks      2        Tourist
464      Waritthira      2       Resident
465    Danishsood12      2           None
466     puneetrai86      2        Tourist
467  SaudaminiKumar      2        Tourist
468        mlpindia      1       Resident
469    JustPhulkari      1            NaN

In [263]:
x['screen_name'].apply(user_defined_location)

New Delhi, India
New Delhi, India
Indore, Madhya Pradesh
Mumbai
Mumbai, India
Mississauga, Ontario
India
East of Kailash, New Delhi
Gurgaon, India

461    None
462    None
463    None
464    None
465    None
466    None
467    None
468    None
469    None
Name: screen_name, dtype: object

In [191]:
import pandas as pd
df = pd.read_csv('delhi_stream_1210_username.csv', encoding='utf-8')

In [192]:
df['Verification'].value_counts()

KeyError: 'Verification'

In [137]:
df['Classification'].value_counts()

Tourist     70
None        70
Resident    66
Error       19
0           10
Name: Classification, dtype: int64

Empty DataFrame
Columns: [screen_name, count, classification]
Index: []

In [50]:
df = df[df['Classification'].notna()]

In [62]:
df1 = df[df.Classification.str.contains("Tourist")]
df1.iloc[150:160]

Empty DataFrame
Columns: [screen_name, count, Classification]
Index: []

In [7]:
df

,screen_name,count,classification,user_defined_location,Verification
0,Dpsairy,43,Tourist,"New Delhi, India",1
1,poojaesthetic,36,Tourist,"New Delhi, India",1
2,venkat_failure,36,Tourist,"Hyderabad, India",1
3,sohumsutras,36,Tourist,new delhi,1
4,PairsonnalitesA,34,Tourist,Asia | Australia - Pacific,0
...,...,...,...,...,...
313,_chill_india,2,Tourist,India,1
314,rahulsmarty17,2,Tourist,Delhi,E
315,bond007bitcoin,2,Tourist,"New Delhi, India",0
316,AnushreeDey12,2,Tourist,"West Bengal, India",1
317,kirti_vir,2,Tourist,"Gurgaon, India",1